<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ios-pwa-wrapper.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C0D80B501649441996C7AB5DB581A8BCF7A9A0D</string>
				<key>dateExpires</key>
				<string>25/06/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UYWN798A68.at.xtools.ios-pwa-wrapper</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UYWN798A68</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>UYWN798A68.at.xtools.ios-pwa-wrapper</string>
				</array>
			</dict>
			<key>name</key>
			<string>ios-pwa-wrapper.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d30e6e57-175c-445f-add2-2de9617d1261</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UYWN798A68</string>
				<key>name</key>
				<string>PT Tunas Digital Indonesia</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
